.paragraph{
    width: 50%;
}
.paragraph img{
    width: 100%;
}
section{
    display: flex;
}
span{
    color: rgb(255, 4, 4);
}
.link{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.illution1{
    background-color: aqua;
}
.illution2{
    background-color: bisque;
}
illution3{
    background-color: blanchedalmond;
}